html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.SW-table-header:hover {
    cursor: pointer;
    background-color: #E8E7E9;
}

.validation-summary-errors ul {
    list-style: none;
}

#delete-toggle, #edit-toggle {
    cursor: pointer;
    text-decoration: underline;
}