@model LocationListViewModel
@{
    ViewBag.Title = "Locations";
}

<div>
    <h1 class="display-4 my-4 text-center">All Locations</h1>

    <div class="col-md-10 col-xl-8 mx-auto">
        <table class="table table-hover">
            <caption>All Locations</caption>

            <thead>
                <tr class="border-bottom fs-5">
                    <td class="col-4">
                        <p>Name</p>
                    </td>
                    <td class="col-4">
                        <p>City</p>
                    </td>
                    <td class="col-4">
                        <p>Phone No.</p>
                    </td>
                </tr>
            </thead>

            <tbody>
                @foreach (var location in Model.Locations)
                {
                    <tr class="border-bottom">
                        <td class="col-4">
                            <a asp-controller="App" asp-action="LocationDetails" asp-route-id="@location.LocationId">
                                <p>@location.LocationName</p>
                            </a>
                        </td>
                        <td class="col-4">
                            <p>@location.City</p>
                        </td>
                        <td class="col-4">
                            <p>@location.Phone</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>