@model LocationListViewModel

<div class="text-center">
    <h1 class="display-4 my-4">All Locations</h1>

    <div class="col-md-8 mx-auto text-start">

        <div class="d-flex border-bottom fs-5">
            <div class="col-4">
                <p>Name</p>
            </div>
            <div class="col-4">
                <p>City</p>
            </div>
            <div class="col-4">
                <p>Phone</p>
            </div>
        </div>

        @foreach (var location in Model.Locations)
        {
            <div class="d-flex border-bottom">
                <div class="col-4">
                    <a asp-controller="App" asp-action="LocationDetails" asp-route-id="@location.LocationId">
                        <p>@location.LocationName</p>
                    </a>
                </div>
                <div class="col-4">
                    <p>@location.City</p>
                </div>
                <div class="col-4">
                    <p>@location.Phone</p>
                </div>
            </div>
        }
    </div>
</div>