@model LocationListViewModel
@foreach (var location in Model.Locations)
{
    <div>
        <a asp-controller="App" asp-action="LocationDetails" asp-route-id="@location.LocationId">
            <h2>@location.LocationName</h2>
        </a>
        <p>@location.AddressLine1</p>
    </div>
}